:root {
  //colors---------------
  --white: #ffffff;
  --viridian: #3c8067;
  --desertStorm: #f2ebe3;
  --blueCharcoal: #1c232b;
  --stormGrey: #6c7289;

  //font weight--------------------
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;

  //font family---------------------
  --fontFamily-montserrat: "Montserrat", serif;
  --fontFamily-fraunces: "Fraunces", serif;
}